@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    padding: 10px;
    background-color: rgb(0, 0, 0);
}
